.row {
    border-bottom: 1px solid #dee2e6;
  }
  
  .cell {
    padding: 16px;
    text-align: left;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 500;
  }